
/*Titouan Moquet 2024-2025 Term NSI*/
/* certain élèments proviennent de sources externes*/
/* il y a un desing responsif pour certaints élèments du site */ 
/* le desing resposif de la nav bar fonctionne mal si ont est connecté en admin*/

/* Le CSS de la page AMD est sur un autre fichier */

/* Couleurs de base */

:root{
    --color_text:#e2e2e2e7;
    --color_text_2:#f8f8f8;
    --warning_color: #ff9100;
    --color1: #f01a0a;
    --color2:#940e04;
    --color_a_hover:#2c87c3;
    --background_color:linear-gradient(0deg, #251d62 0%, #09112a 99%);
    --loading_color:#FF5C35;

    --background_color_search:#16171d;
    --background_color_search_2:#292a30;
    --color_txt_search:#d8d9db;
}

body {
    background: var(--background_color);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;

}

html, body {
    min-height: 100%;
}

p {
    color: var(--color_text);
}


/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

/* FOOTER*/

.footer_div{
    position: relative;
    /*padding-left: 10px;*/
    left: 0%;
    bottom: 0%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
   /* margin-bottom: 2%;*/
 
}

.footers{
    display: block ruby;
}

.footer_div a {
    color: var(--color_text);
}
#footer_main_info {
    display: flex; /* Aligner les éléments horizontalement */
    align-items: center; /* Centrer verticalement */
    border-radius: .2rem;
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    color: #e2e4e9d1;
  
}

#footer_main_info p {
    margin: 0; /* Supprimer les marges par défaut du <p> */

}

#footer_main_info p::before { 
    content: "\f05a";
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900; 
    color:  var(--color_text); 
    margin-right: 10px; 
}

#footer_main_info a {
    color: var(--color_text);
    margin-left: 5px;
    margin-right: 5px ;

}


/* Liens */
a {
    color: #191b2a;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    transition: all 0.3s ;
}

a:hover {
    color: var(--color_a_hover);
}

/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

/* Titres */
.titleh2 {
    color: var(--color_text);
    background-color: #545578;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px;
    text-align: center;

}
/*
#title_index {
    padding-left: 10px;
    color: var(--color_text);
}*/
/* Titre principal */
#title_index {
    text-align: center;
    
}

#title_index h2 {
    font-size: 2em;
    color: #1aa4e4; 

}

#title_index p {
    font-size: 1.1em;
    color: #bdbdbd;
}

/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

/* Barre de navigation */
.nav_bar {
    background-color: #11131d;
    font-family: sans-serif;
    position: sticky;
    top: 0%;
    height: auto; 
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    will-change: transform, opacity;
    z-index: 999;
}
.title{
    margin-right: 1%;
}
.title h1 {
    color: #dddcdb;
    text-decoration: none;
    margin-left: 20px;
    background: linear-gradient(to right, #388AFB 0%, #FF35F5 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.link{
    display: contents;
    width: max-content;
}
.nav_bar nav {
    background-color: #191b2a;
    border-radius: 10px;
    padding: 10px 10px 10px;
    margin-left: auto; 
    flex-grow: 1;
}

.nav_bar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: contents;
}

.nav_bar nav li {
    display: block;
    text-align: center;
    margin-right: 10px;
    
}

.nav_bar nav .active {
    color: var(--color_text);
    background-color:#26293b8c;/* #26293b;*/
    padding: 10px;
    font-size: 0.875rem;
    font-weight: 700;
    
    text-decoration: none;
    border-radius: 5px;
}


.nav_bar nav .active {
    margin-left: 10px;
}

.nav_bar nav .active.home {
    margin-left: 0;
}


nav li .left{
float: left;
}

nav li .right{
    float: right;
}

nav a{
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff00;
}

nav a:hover {
    background: linear-gradient(to right, #ff7b00, #a02aff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #388AFB;
    transition: all 0.3s ;

}

.nav_bar.hidden {
    opacity: 0;
    transform: translateY(-100%);
}


/*Responsive design */
.burger {
    display: none;
    background: none;
    border: none;
    color: var(--color_text);
    font-size: 24px;
    margin-right: 15px;
    cursor: pointer;
}
  
@media screen and (max-width: 798px) {
    .nav_bar {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .burger {
      display: block;
    }
  
    .link {
      display: none;
      width: 100%;
    }
  
    .link.show {
      display: block;
    }
  
    .nav_bar nav {
      margin: 0;
      padding: 10px;
      border-radius: 0;
      display: grid;
    }

  
    .nav_bar nav li {
      float: none;
      width: 100%;
      margin-bottom: 10px;
      display: grid;
    }
  
    nav .right {
      float: none;
    }

    .nav_bar nav ul {
        display: grid;
        align-items: center;
        grid-template-columns: auto auto auto;
        grid-row-start: auto;
    }
    
    .nav_bar nav li {
        width: auto;
        float: none;
       
    }

    .nav_bar nav .active {
        margin: 0;
    }
    
    .link.show {
        display: block;
    }

}
  
/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

/* Formulaires et filtres */

select {
    color: black;
    padding: 0.2%;
}

/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

/* BUTTON*/
#myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
border-radius: 50px;
outline: none;
background-color: #7f90c1;
color: white;
cursor: pointer;
padding: 10px;
border-radius: 22px;
}

#myBtn:hover {
background-color: #555;
}
#myBtn::before{
content: "\f062";
font-family: "Font Awesome 6 Free"; 
font-weight: 900; 
color: inherit; 
font-size: inherit;
margin-right: 5px; 

}


/* https://uiverse.io/joe-watson-sbf/shy-snake-4 */
.search {
    border-radius: 30px;
    display: flex;
    align-items: center;
   
    text-align: center;
    background: var(--background_color_search);
    margin-top: 10px;
    width: fit-content;

  }
  
.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--background_color_search);
    border: none;
    color:#c8bdbd;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    padding-right: 0px;
    font-weight: bold;
}
  
.search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
}
  
.search__input:focus {
    outline: none;
    background-color:var(--background_color_search_2);
}
  
.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--color_txt_search);
}

.search:focus{
    background-color: var(--background_color_search_2);
}
/* pour changer la couleur de fond de autocomplete*/

input:-webkit-autofill {
    background-color: var(--background_color_search_2) !important;
    color: var(--color_txt_search)!important;
   /* -webkit-box-shadow: 0 0 0px 1000px #1e293b00 inset !important;*/
    transition: background-color 9999s ease-out, color 9999s ease-out;
}

.search__button {
    border: none;
    background:none;
    margin-top: .1em;
    padding-right: 10px;
}
  
.search__button:hover {
    cursor: pointer;
}

.search__button .fa-magnifying-glass {
    color :var(--color_txt_search);
    font-size: large;
}

/* . . . . . . . . */

#loadMoreBtn {
    min-width: 110px;
    height: 30px;
    color: var(--color_text);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #343a40;
    box-shadow: 0 5px #212529;
    margin-top: 1%;
    margin-left: 1%;
}

#loadMoreBtn:hover {
    box-shadow: 0 3px #212529;
    top: 1px;
}

#loadMoreBtn:active {
    box-shadow: 0 0 #212529;
    top: 5px;
}


.btn-favorite {
    background: none;
    border: none;
    color: #ff5252;
    cursor: pointer;
    font-size: 20px;
    transition: transform .2s;
}

.btn-favorite:hover {
    color: #ff1744;
}

/* From Uiverse.io by cssbuttons-io */ 

/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

/*filtre de recherche */
.filtre_de_recherche {
    border-radius: 10px;
    padding: 20px 10px 10px;
    margin-left: 5%;
}

.filtre_de_recherche p{
    color: #11131d;
    margin: auto;
    text-align: center;

}

.filtre_de_recherche form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: min-content;
}

.insert_value{
    background-color: var(--warning_color);
}

/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

/* Résultats */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}





.filtre_de_recherche { grid-area: 1 / 1 / 6 / 2; }
#resultats { grid-area: 1 / 2 / 6 / 6; }
   
#resultats {
    /*different browser
    min-width: -moz-available; 
    min-width: -webkit-fill-available; 
*/  min-width: auto;
    padding-left: 10px;
    padding-right: 20px;
    font-weight: 900;
    font-size: larger;
    
    margin-right: 5%;
    flex-direction: column;
    align-items: flex-start;
}

#resultats li {
    margin: 10px 0;
}

#resultats p {
    margin: 1%;
}

/*Responsive design*/
@media screen and (max-width: 800px) {
    .parent {
        display: flex;
        flex-direction: column;
    }
    .filtre_de_recherche{
        margin-left: 0%;
        width: 95%;
    }
    .filtre_de_recherche form {

        width: auto;
    }
    #resultats {
        margin-right: 0px;
    }
}


/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

/*warning*/
.warning p {
    display: flex; /* Aligner les éléments horizontalement */
    align-items: center; /* Centrer verticalement */
    border: .075rem solid var(--warning_color);
    border-radius: .2rem;
    background-color: #ec8d2e56;
    padding: 10px;
    margin: 2%;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    color: #e2e4e9d1;
  
}

.warning p::before { 
    content: "\f071";
     
    font-family: "Font Awesome 6 Free"; 
    
    font-weight: 900; 
     
    color: var(--warning_color); 
    font-size: 25px;
    margin-right: 10px; 
}


/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

/* Nouveautés */
#nouveaute {
    /*background-color: #ffffff00;
    color: #191b2a;*/
    background: #8686884f;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
}


#nouveaute h3 {
    padding-left: 1.8%;
    padding-top: 15px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    color: var(--color_text);
}

#resultats_nouveaute {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#block_nouveaute {
    display: grid;
    border: solid 1px;
    /*border-radius: 10px;*/
    margin: 1%;
}

@media screen and (max-width: 1000px) {
    #resultats_nouveaute {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    ;
    }
}


/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

/* Tableaux */
table {
    
    background-color: #e2e2e2;
    border-collapse: collapse;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 700;
    
}

th, td{
    padding: 8px 10px;

    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #a0a0a070;
}

/*
th, td {
    padding: 8px 10px;
    border: 1px solid #a0a0a0;
    text-align: center;
}*/

tr:nth-of-type(even) {
    background-color: #f0f0f0;
}

th[scope='col'] {
    background-color: #505050;
    color: #fff;
}

caption {
    padding: 10px;
    background-color: #f0f0f0;
   
}

#block_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:2%;
}

#block_item_info,#block_img {
    background-color: #f4f4f3;
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid #686868;
}

#block_img{
    display: contents;
}

/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

#required_info{
    font-size: 12px;
}

#icon_contact{
    font-size: 30px ;
}

/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/


/* Main container */
#login_button{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin: auto;
    max-width: 800px;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 4px 8px #00000033;
}


#login_button a {
    
    background: #ffffff14;
    padding: 10px 20px;
    border-radius: 10px;
  
    color: var(--color_text);
    text-decoration: none;
}

.button_disconnect_admin{
    border:  2px solid #ffffff00;
   
}
/* Unsubscribe button */
.button_unsubscribe {
    border: 2px solid var(--color1);
}

.button_unsubscribe::before {
    content: "\f2ed";
    font-family: "Font Awesome 5 Free"; /* FontAwesome 5 */
    font-weight: 900; /* Nécessaire pour afficher les icônes */
    font-size: 1.2em;
    padding-right: 4px;
}

#button_container{
    font-family: 'Poppins', sans-serif;
    background: #ffffff1a;
    box-shadow: 0 4px 10px #0000004d;
    margin: auto;
    max-width: 800px;
    border-radius: 10px;
 
}

#button_container p {
    padding-top: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}



/* Table */
#view_favorites details {
    margin-top: 30px;
    background-color: #263238;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#view_favorites summary {
    font-size: 20px;
    font-weight: bold;
    color: #64b5f6;
    cursor: pointer;
}

#view_favorites table {
    width: 80%;
    margin-top: 15px;
    border-collapse: collapse;
}

#view_favorites th, td {
   /* padding: 12px;
    text-align: left;*/
    width: 1%;
    height: 1%;
}
.img_size{
    width:30%;
    height:30%;
}



/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

/*formulaire login */
.login-container {
    font-family: 'Poppins', sans-serif;
    background: #ffffff1a;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px #0000004d;
    text-align: center;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

}

.login-container h2 {
    color: var(--color_text);
    margin-top: 0px;
    margin-bottom: 1%;
}

.login-container input {
    width: 93%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.2);
    color: var(--color_text);
    outline: none;
}

.login-container input::placeholder {
    color: #ffffffb3;
}

.login-container button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(to right, #ff7b00, #a02aff);
    color: var(--color_text);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-family: inherit;

}

.login-container button:hover {
    opacity: 0.8;
}

.login-container a {
    display: block;
    margin-top: 10px;
    color: #a02aff; 
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.login-container a:hover {
    color: #ff7b00; 
}

.login-container p {
    color: var(--color_text);
    font-size: 15px;
    text-align: center;
}

#icon_contact{
    display: grid;
    margin-top: 20px;
}

#icon_contact a{
    color: var(--color_text);
    font-size: large;
    margin-bottom: 10px;
}

.password-wrapper {
    position: relative;
    
    margin: 8px auto;
}

.password-wrapper i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--color_text);
    font-size: 18px;
}


.password-wrapper_2  {
    position: relative;
    
    margin: 8px auto;
}

.password-wrapper_2  i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--color_text);
    font-size: 18px;
}


.password-wrapper3  {
    position: relative;
    
    margin: 8px auto;
}

.password-wrapper3  i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--color_text);
    font-size: 18px;
}



/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/
/*container delete */

#delete_container {
    font-family: 'Poppins', sans-serif;
    background: #ffffff1a;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px #0000004d;
    text-align: center;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


.login-container h2 {
    color: var(--color_text);
    margin-top: 0px;
    margin-bottom: 1%;
}

.login-container input {
    width: 93%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.2);
    color: var(--color_text);
    outline: none;
}

.login-container input::placeholder {
    color: #ffffffb3;
}

#delete_container button[type="submit"] {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

#delete_container button[type="submit"]:hover {
    background-color: #cc0000;
}

#required_info {
    margin-top: 20px;
    font-size: 0.85em;
    color: #666;
    text-align: right;
}

/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

/*tooltip discord */
/*copier coller d'un site web */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/


/* about us */
#margin_contacts {
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    max-width: 1400px;
    color: var(--color_text);
/*
    z-index: -1;
    position: relative;
*/

}

#margin_contacts a {
    color: var(--color_text_2);
}
#margin_contacts a:hover {
    color: var(--color_a_hover) ;
}


/* Zone learn_more */
#learn_more {
    padding: 20px;
    border-radius: 12px;
    background: rgba(93, 97, 204, 0.2);
    box-shadow: 0 4px 10px rgba(93, 97, 204, 0.3);
    margin-bottom: 20px;
}

/* Release notes & credits à l'intérieur */
#release_notes, #credits {
    background-color: rgba(40, 44, 90, 0.6);
    border: 1px solid #7a7ff1;
    border-radius: 12px;
    padding: 15px;
    margin-top: 20px;
}

/* Titres dans release_notes et credits */
#release_notes h3, #credits h3 {
    /*background: linear-gradient(to right, #388AFB, #A02AFF);*/
    background: linear-gradient(to right, #388AFB, #1e73eb);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: -15px -15px 15px -15px;
}

/* Télécharger la note de version */

/* Partie Icon Contact */
#icon_contact ,#release_notes_download{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

#icon_contact a ,#release_notes_download a {
    background: #ffffff14;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    color: var(--color_text);
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}

#icon_contact a:hover ,#release_notes_download a:hover{
    background: #000000a8;
    /*background: linear-gradient(to right, #ff7b00, #9e4ee0);*/
    transform: translateY(-2px);
    color: var(--color_text);

}


#link-about-container{
    display: flex;
    flex-direction: column;
}

/* /#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

/* error page css */

#center_container {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color_text); 
    margin-top: 10%;

}

#center_container h2{
    font-size: 50px;
}

#error_page_home_button {
    margin-top: 2%;
    display: inline-block;
    padding: 1rem 2rem;
    /*background: #ff3c38;*/ /* rouge vif */
    background: #6495ED;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(255, 60, 56, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
  
#error_page_home_button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(255, 60, 56, 0.7);
    /*background: #ff1f1b;*/
    background: #3e79e7;
    cursor: pointer;
}
  
@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 60, 56, 0.7);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(255, 60, 56, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 60, 56, 0);
    }
}
  
#error_page_home_button {
    animation: pulse 2s infinite;
}
  

/*/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\/#\*/

.site-map-container {
    padding: 2rem;
    
    min-height: 80vh;
    color: #f0f0f0;
    text-align: center;
}

.site-map-container h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--color_text);
}

.links-section, .restricted-section {
    margin-bottom: 2rem;
}
.links-section{
    border-bottom: 1px solid #555;
    
    padding-bottom: 1.5rem;
}

.site-map-button {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.75rem 1.5rem;
    background: linear-gradient(135deg, #4f46e5, #3b82f6);
    color: var(--color_text_2);
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 12px;
    transition: transform 0.2s, background 0.3s;
}

.site-map-button:hover {
    color: var(--color_text_2);
    transform: scale(1.05);
    background: linear-gradient(135deg, #6366f1, #60a5fa);
}

.restricted-section {
    z-index: -1;
    position: relative;
    filter: blur(1px);
}

.restricted-text {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #ff7675;
}

/* Style de l'écran de chargement */
#loading-screen {
    
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-size: 24px;
    transition: opacity 0.5s ease;

    flex-direction: column;
    flex-wrap: nowrap;
}
#loading-screen.hidden {
    opacity: 0;
    pointer-events: none;
}
#loading-screen p {
    color :var(--loading_color);
}
/*
.dots::after {
    content: '';
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: dots 0.5s steps(4, end) infinite ;
}

@keyframes dots {
    0%, 20% {
        content: '';
    }
    40% {
        content: '.';
    }
    60% {
        content: '..';
    }
    80%, 100% {
        content: '...';
    }
}
*/
.progress-bar {
    width: 80%;
    max-width: 400px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background-color:var(--loading_color) ;
    animation: fill 0.5s /*infinite*/;
}

@keyframes fill {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}



.statut_container {
    text-align: center;
    transition: opacity 0.5s ease;
    text-align: center;
    transition: opacity 0.5s ease;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 0;
   
}

.statut_container.hidden {
    opacity: 0;
    pointer-events: none;
    /*display: none;*/
}


.red_statut p {
    color: var(--color1);
    margin: auto;

}
.green_statut p {
    color: #0daf0d;
    margin: auto;
}

.green_statut{
    background-color: #ffffff1a;
    
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
}

.red_statut{
    background-color: #ffffff1a;
    
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
}


.input_admin_none{
    display: none;
}



/* Conteneur CGU */
#cgu-container {
    max-width: 800px;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

/* Sous-titres */
#cgu-container h3 {
    color: #2e2e2e;
    margin-top: 25px;
    font-size: 20px;
    border-bottom-style:solid ;
    border-bottom-color: #2c87c3 ;
}

/* Paragraphes */
#cgu-container p {
    margin: 10px 0;
    font-size: 16px;
    color: #343a40;
}

#center-p p{
    color: #9d9fa2;
    font-size: .75rem;
    line-height: 1.125rem;

}
#center-p{
    text-align:center;
    align-items: center;
    margin: auto;
}