{% extends "base.html" %}

{% block title %}
CGU
{% endblock %}


{% block contenu %}

        
<div class="titleh2">
    <h2>Conditions générales d'utilisation</h2>
</div>


<div id="cgu-container">
    <p>Dernière mise à jour : 15 mai 2025</p>

    <h3>1. Informations générales</h3>
    <p>Ce site a été réalisé dans le cadre d’un projet scolaire ou universitaire. Il n’a pas de vocation commerciale.</p>

    <h3>2. Propriété intellectuelle</h3>
    <p>Les logos, images et marques appartenant à des tiers, tels que <strong>AMD (Advanced Micro Devices, Inc.)</strong>, sont utilisés uniquement à des fins pédagogiques et illustratives.</p>
    <p>Ces éléments restent la propriété exclusive de leurs détenteurs respectifs. Aucun usage commercial ou promotionnel n’est fait de ces contenus.</p>
    <p>Nous ne revendiquons aucun droit de propriété sur les marques, logos ou images appartenant à AMD. Leur usage est strictement limité au cadre d'une présentation ou description non commerciale, et dans le respect des droits de propriété intellectuelle.</p>

    <h3>3. Responsabilité</h3>
    <p>Le contenu du site est fourni à titre d’exemple dans le cadre d’un projet d’apprentissage. Aucune garantie n’est donnée quant à l'exactitude ou à la mise à jour des informations présentées.</p>

    <h3>4. Liens externes</h3>
    <p>Ce site peut contenir des liens vers des sites tiers. Nous ne sommes pas responsables du contenu de ces sites externes ni de leur politique de confidentialité.</p>

    <h3>5. Modifications</h3>
    <p>Nous nous réservons le droit de modifier à tout moment ces conditions d'utilisation. Il vous appartient de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.</p>

    <h3>4. Contact</h3>
    <p>Pour toute question relative à ce projet, vous pouvez contacter l’auteur via le Discord fourni.</p>

    <div id="center-p">
        <p>Titouan Moquet, all right reserved, 2025</p>
    </div>
</div>


{% endblock %}


{% block footer %}
{% endblock %}