{% extends "base.html" %}

{% block title %}
Contacts
{% endblock %}

{% block contenu %}

<div class="titleh2">
    <h2>Contact</h2>
</div>

<div id = "margin_contacts">
    <div id="learn_more">
        <p><i class="fa-solid fa-code"></i> Projet NSI terminal 2024-2025 Flask </p>
           
        <h3><i class="fa-solid fa-address-card"></i> Crédits</h3>
        <ul>
            <li>Développement : Titouan Moquet </li>
            <li>Année scolaire : Term 2024-2025</li>
        </ul>

    </div>


    <div id="icon_contact"> 
        <a href="#"><i class="fa-brands fa-github"></i> Github du projet</a>
        <a href="#"><i class="fa-brands fa-discord"></i> Discord du projet</a>
    </div>

    <div class ="warning">
        <p>Ce projet est toujours en développement ,de nombreuses fonctionnalités ne sont donc pas encore disponibles
            Le code n'est pas encore très bien organisé et nécessite encore de nombreuses modifications
            Des modification serons apportées des que possibles
        </p>
    </div>

    <div id="release_notes">
        <a href="#"><p>télécharger la note de version</p></a>
    </div>
</div>
{% endblock %}


{% block footer %}
V2.3
{% endblock %}