{% extends "base.html" %}

{% block title %}
item info
{% endblock %}


{% block contenu %}


    {% if resultats %} 
        {% for msg in resultats %}
            <div class="titleh2">
                <h2>information sur le processeur {{ msg[1] }} {{ msg[2] }}</h2>
            </div>
        {% endfor %}    
    {% endif %}
    
    <div id="block_info">
        <div id="block_item_info">
            <table>
                <tbody>
                    {% if resultats %}
                        {% for result in resultats %}
                            {% for column in columns %}
                            {% if column != 'id' %}
                                <tr>
                                    <td>{{ column }}</td>  <!-- Affiche le nom de la colonne -->
                                    <td>{{ result[loop.index - 1] }}</td>  <!-- Affiche la valeur correspondante -->
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    

        <div id = "block_img">
                <img src="{{ url_for('static', filename='not_found_img.png') }}" alt="texte alternatif" width=30% height=30%/></td> 
        </div>

    </div>

{% endblock %}

{% block footer %}
{% endblock %}