<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
       <!-- <link href="{{ url_for('static', filename='font_awesome_css_local.css') }}" rel="stylesheet" type="text/css"> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet" type="text/css">
        
        <link rel="icon" href="{{ url_for('static', filename='icon.png') }}"/>
        <title>{% block title %}{% endblock %}</title>
        {% block headstyle %}
        {% endblock %}
    </head>
    
    
    <body>
        <!--<header>-->
            <div class = "nav_bar">
                <div class = "title">

                        <h1>PartFinder</h1>
                </div>
                <button class="burger" id="burger">
                    <i class="fa fa-bars"></i>
                </button>

                <div  class = "link" >
                    <nav>
                      <ul>
                        <li><a class="active left home" role="button" href="{{ url_for('index') }}"><i class="fa-solid fa-house"></i> HOME</a></li>
                        <li><a class="active left other" role="button" href="{{ url_for('searchCPU') }}"><i class="fa-solid fa-microchip"></i> CPU</a></li>
                        <li><a class="active left other" role="button" href="{{ url_for('searchGPU') }}"><i class="fa-solid fa-microchip"></i> GPU</a></li>
                        {% if session['autorisation'] == 0 %} 
                            <li><a class="active left other" role="button" href="{{ url_for('add_cpu') }}"><i class="fa-solid fa-plus"></i> add cpu</a></li>
                            <li><a class="active left other" role="button" href="{{ url_for('add_gpu') }}"><i class="fa-solid fa-plus"></i> add gpu</a></li>
                        {% endif %}
                    
                           <!--<div class="right">-->
                                    <!--
                                    <div class="tooltip">
                                        <span class="tooltiptext">non disponible</span>
                                    </div>-->                            
                            
                            <li><a class="active right other" role="button" href="{{ url_for('login') }}" title="compte"><i  class="fa-solid fa-user" {% if session['pseudo'] %} style="color: #2c87c3;" {% endif %} ></i></a></li> <!--style="color: #ffffff;""-->
                            <li><a class="active right other" role="button" href="{{ url_for('contact') }}">ABOUT US</a></li>                            

                            <li><a class="active right other" role="button" href="https://discord.gg/ceg7zHeX7c"><i class="fa-brands fa-discord "></i></a></li>
                            <li><a class="active right other" role="button" href="https://github.com/TMoq22/Projets_lycee_TM/tree/updates" title="GitHub"><i class="fa-brands fa-github "></i></a></li>

   
                         <!--</div>-->
              
                    </ul>
                    </nav>
                </div>
            </div>
        <!--</header>--> 
        {% if show_loader %}
           <!--<div id="loading-screen">Chargement...</div>-->

            <div id="loading-screen">
                <p>Chargement</p>
                <!--<span class="dots"></span>-->
                <div class="progress-bar">
                    <div class="progress"></div>
                </div>
           


            </div>

        {% endif %}
        

        <div id="main-content" {% if show_loader %}style="display:none;"{% endif %}>

            <button onclick="topFunction()" id="myBtn" title="Go to top">back to top</button>
            {% block contenu %}
        

            {% endblock %}

        </div>    
        <div class="footer_div">
            <footer class = "footers"> 
                {% block footer %}
                {% endblock %}   
            </footer>
        </div>
     

        <script src="{{ url_for('static', filename='js.js') }}"></script>

    </body>
</html>


