{% extends "base.html" %}

{% block titre %}
delete
{% endblock %}

{% block contenu %}

<div class="titleh2">
    <h2>delete</h2>
</div>


<div id="delete_container">
    <form method="post" action="{{ url_for('delete_account') }}">
        <p>supprimer un compte</p>
        <label for="password">Password : </label>
        <input type="password" id="password" name="password" required>*
        <br>
        <p>! attention action irreversible ! </p>
        <button type="submit">supprimer votre compte</button>

        <div id="required_info">
            <p>* -> required</p>
        </div>
    </form>  
</div>

{% endblock %}