{% extends "base.html" %}

{% block title %}
PartFinder
{% endblock %}


{% block contenu %}

    {% if message[0] != "" %}
    <div class="statut_container">
        {% if message[1] == "rouge" %}
            <div class="red_statut">
                <p>{{ message[0]}}</p>
            </div>
        {% else %}
            <div class="green_statut">
                <p>{{ message[0]}}</p>
            </div>
        {% endif %}
    </div>
    {% endif %}


 
    
    <div class="login-container">
        <h2>modification mot de passe</h2>
        <form method="post" action="{{ url_for('update_password') }}">
            <p>mot de passe actuel</p>
            <div class="password-wrapper3">
                <input type="password" id="password1" name="password" placeholder="Ancien mot de passe" required>
                <i class="fas fa-eye" id="togglePassword" aria-hidden="true"></i>
            </div>
            <p>nouveau mot de passe</p>
            <div class="password-wrapper3">
                <input type="password" id="password2" name="password2" placeholder="nouveau mot de passe" required>
                <i class="fas fa-eye" id="togglePassword" aria-hidden="true"></i>
            </div>
            <div class="password-wrapper3">
                <input type="password" id="password3" name="password3" placeholder="confirmation" required>
                <i class="fas fa-eye" id="togglePassword" aria-hidden="true"></i>
            </div>

            <button type="submit">Modifier</button>
            <a href="{{ url_for('login') }}">retour</a>
        </form>

    </div>




{% endblock %}

{% block footer %}
{% endblock %}