{% extends "base.html" %}

{% block title %}
Contacts
{% endblock %}

{% block contenu %}

<div class="titleh2">
    <h2>Contact</h2>
</div>

<div id="learn_more">
    <p><i class="fa-solid fa-code"></i> Projet NSI terminal 2024-2025 Flask ...

    </p>
    <p>Titouan Moquet</p>
</div>

<div id="icon_contact"> <!--  -->
    <i class="fa-solid fa-address-card" style="color: #e2e2e2;" ></i>

    <a href="#"><i class="fa-brands fa-github " style="color: #e2e2e2;"></i> Github du projet</a>
    <a href="#"> <i class="fa-brands fa-discord " style="color: #e2e2e2;"></i> Discord du projet</a>
</div>

<div class ="warning">
    <i class="fa-solid fa-triangle-exclamation" style="color: #ff9100; font-size: 25px; margin-right: 10px; "></i>
    <p>Ce projet est toujours en développement ,de nombreuses fonctionnalités ne sont donc pas encore disponibles
        Le code n'est pas encore très bien organisé et nécessite encore de nombreuses modifications
        Des modification serons apportées des que possibles </p>
</div>



{% endblock %}