{% extends "base.html" %}

{% block titre %}
delete
{% endblock %}

{% block contenu %}

<div class="titleh2">
    <h2>delete</h2>
</div>


<!--
<form method="post" action="{{ url_for('delete') }}">
    <p>supprimer un compte</p>
    <br>        
    <label for="pseudo">Pseudo : </label>
    <input type="text" id="pseudo" name="pseudo" required>*
    <br>
    <label for="Password">Password : </label>
    <input type="password" id="Password" name="Password" required>*
    <br>
    <p>! attention action irreversible ! </p>
    <button id="button_submit" type="submit">supprimer votre compte</button>

    <div id="required_info">
        <p>* -> required</p>
    </div>
</form>  -->

{% endblock %}