{% extends "base.html" %}

{% block title %}
A propos - PartFinder
{% endblock %}

{% block contenu %}

<div class="titleh2">
    <h2>Contact</h2>
</div>
<!-- page about -->
<div id = "margin_contacts">
    <div id="learn_more">
        <h3><i class="fa-solid fa-code"></i> Projet NSI terminal 2024-2025 Flask </h3>

        <p>Ce projet a été réalisé dans le cadre de la spécialité NSI en terminale.
        le but était de créer un site web utilisant <strong>Flask</strong> et <strong>Jinja2</strong> pour créer un site interactif 
        lequel l'utilisateur peut interagir avec une base de données</p>
        <div id="link-about-container">
            <a role="button" href="{{ url_for('site_map') }}">plan du site</a>
            <a role="button" href="{{ url_for('cgu') }}">Conditions générales d'utilisation</a>

        </div>

        
        <div id = "release_notes">
            <h3><i class="fa-solid fa-file-code"></i> Dernière Release Note</h3>
            
            <!--<h2>Dernière Release Note</h2>-->
            <div>
                {{ contenu_markdown|safe }}
            </div>
            <div id ="release_notes_download"><a href="https://github.com/TMoq22/Projets_lycee_TM/blob/2348c269558ff59153563b3a73805f65cf9ac8e7/README.md"><i class="fa-solid fa-download"></i> télécharger la note de version</a></div>
            <p>Votre version peut ne pas correspondre à la dernière version publiée</p>
        </div>
        <div id = "credits">
            <h3><i class="fa-solid fa-address-card"></i> Crédits</h3>
            <ul>
                <li>Développement : Titouan Moquet </li>
                <li>Année scolaire : Term 2024-2025</li>
           
                <li><i class="fa-regular fa-font-awesome"></i> all ions come from <a href="https://fontawesome.com/">fontawesome.com</a> </li>
                <li><a href="https://www.amd.com/fr.html">AMD website</a> </li>
            </ul>
        </div>
    </div>


    <div id="icon_contact"> 
        <a href="https://github.com/TMoq22/Projets_lycee_TM/tree/updates"><i class="fa-brands fa-github"></i> Github du projet</a>
        <a href="https://discord.gg/ceg7zHeX7c"><i class="fa-brands fa-discord"></i> Discord du projet</a>
    </div>

    <div class ="warning">
        <p>
            les pages add_cpu et add_gpu ne seront finalement pas disponibles pour des raisons techniques, 
            et leur développement serait trop compliqué, tout comme le remplissage des formulaires
            pour l'insertion de données.
            elle reste malgré tout accessible si vous êtes connecté en tant qu'administrateur
        </p>
    </div>
</div>
{% endblock %}


{% block footer %}
<div id="footer_main_info">
	<p id = "footer_main_info">CSS/construction du site fortement inspiré de <a href="https://www.zonensi.fr/">ZoneNsi</a> et <a href="https://pcpartpicker.com/">PcPartPicker</a> 


    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
            alt="CSS Valide !" />
    </a>
</p>
<!--affichage version -->
{{version}}

</div>
{% endblock %}